<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alata de cuenta MercadoLiebre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <!-- INICIO HEADER -->
    <header>

        <div class="top-header">
            <div class="logo-search">
                <div class="logo"> 
                    <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
                </div>
                <div class="form" action="#" method="GET">
                    <input type="text" placeholder="Buscar productos, marcas y más" class="input">

                    <!-- <div class="input" ></div></div> -->
                    <i class="fa fa-search submit"></i>
                    <!-- <div class="submit"><i class="fa fa-search"></i></div> -->

                </div>
            </div>
            <div class="message">
                <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </div>
        <nav>
            <ul class="nav-left">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="nav-right">
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>
    <section class="banner">
        <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
    </section>
    <!-- FIN HEADER -->
    <main>
        <form action="/tbd" method="POST" class="create-form">

            <!-- nombre y apellido -->
            <div class="control-form">
                <label>Nombre y apellido: <input type="text" class="control"> </label>                
            </div>
            <!-- usuario  -->
            <div class="control-form">
                <label>Nombre de usuario@: <input type="text" class="control"></label>                
            </div>
            <!-- fecha de nacimiento -->
            <div class="control-form">
                <label>Fecha de nacimiento: <input type="date" class="control"></label>                
            </div>
            <!-- Domicilio  -->
            <div class="control-form">
                <label>Domicilio: <input type="text" class="control"></label>                
            </div>
            <!-- Perfil del usuario -->
            <div>
                <label>Perfil del usuario</label>
                <div class="control-form-radio">
                    <label><input type="radio" name="perfil" value="comprador" checked>Comprador</label>
                    <label><input type="radio" name="perfil" value="vendedor">Vendedor</label>            
                </div>
            </div> 
            <!-- Categorias de interes -->
            <div>
                <label>Categorías de interes</label>
                <div class="control-form-radio">
                    <label><input type="checkbox" name="cat_interes" value="electro">Electro</label>
                    <label><input type="checkbox" name="cat_interes" value="moda">Moda</label>
                    <label><input type="checkbox" name="cat_interes" value="hogar">Hogar</label>
                    <label><input type="checkbox" name="cat_interes" value="jugueteria">Juguetería</label>
                    <label><input type="checkbox" name="cat_interes" value="vidaSana">Vida sana</label>
                </div>
            </div> 
            <!-- foto del usuario -->
            <div class="control-form">
                <label>Foto del usuario</label>
                <div class="display-dinamico">
                    <!-- <img src="public/images/mmi.png" alt="Foto de Perfil">
                    <h2>Eso es mucho muy importante</h2>                     -->
                    <input type="file" accept="image/png, image/jpeg">
                </div>
            </div>            
            <!-- clave -->
            <div class="control-form">
                <label>Contraseña: <input type="password" class="control"></label>                                
                <label>Confirma contraseña: <input type="password" class="control"></label>
                
            </div>            
            <!-- boron enviar y borrar -->
            <div class="control-form-botones">
                <button type="reset" class="button-form">Borrar</button>
                <button type="submit" class="button-form">Guardar</button>
            </div>
        </form>
    </main>    

    <footer>
        <div class="footer-main">
            <div>
                <i class="fas fa-credit-card"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div>
                <i class="fas fa-gift"></i>
                <h4>Envío gratis desde $2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div>
                <i class="fas fa-user-shield"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div> 
        </div>
        <div>
            <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </div>       
    </footer>
    
</body>
</html>